<app-navbar></app-navbar>

<section class="hero-section">
  <div class="graphs-container">
    <div class="graph-item project-stats">
      <h3>Statistiques des Projets</h3>
      <canvas id="projects-graph"></canvas>
    </div>

    <div class="graph-item collab-stats">
      <h3>Statistiques des Collaborateurs</h3>
      <canvas id="collabs-graph"></canvas>
    </div>

    <div class="graph-item yearly-projects">
      <h3>Projets Durant l'Année</h3>
      <canvas id="yearly-projects-graph"></canvas>
    </div>
  </div>
</section>

<app-footer></app-footer>
